body {
	margin: 0;
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	background-color: #fff;
	/*Свойство сглаживает шрифты: */
	-webkit-font-smoothing: antialiased;
}

/* *-не берет во внимание эти псевдоэлементы
поэтому прописываем для них объявление 
(свойство: значение)  */
*,
* :before,
* :after {
	box-sizing: border-box; /*алгоритм
	подсчета размера блоков. Содержимое блока 
	будет меняться, а не внешние размеры, которые
	заданы. Т.е. внеш размеры будут как задаваемые,
	а все границы и т.п. будут идти во внутрь блока */
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0 0 10px;
}

/*=============Container================ */

.container {
		width: 100%;/*на всю ширину экрана 
		если экран меньше 1170рх, если больше
		то центрирует */
		max-width: 1200px;	/* было max-width: 1170px; */
		margin: 0 auto; /*центрирует по середине
		если больше 1170рх */

		padding: 0 15px; /*см комментарии к 
	.team_inner а так же чтобы при адаптации экрана
	не прелегал в плотную к границам экрана, и увеличиваем
	саму сетку max-width 1200px */
}

/*=============Header================= */

.header {
	width: 100%;
	height: 100px;
	/*Делает этот блок над Intro, а иначе
	Intro будет идти ниже согласно потоку.
	Так же потом можно сделать фикс этот блок */
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;

}

.header.fixed {
	height: auto;

	position: fixed;

	background-color: #31344e;
}

.header.fixed .header_inner {
	padding: 15px 0;
	border-bottom: 0;
}

.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center; /*по поперечной --- оси */
	padding: 35px 0;
	border-bottom: 1px solid #515319;
}

/*==============Nav=================== */

.nav {
	display: flex;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
}

.nav_link {
	margin-left: 50px;
	/*задает подчеркивание сверху/снизу
	для ссылок убирает линию */
	text-decoration: none; 
	color: #fff;
	/*непрозрачность элемента, 1 - непрозрач. 
	непрозрач всего блока!!! а rgba() - конкретного
	свойства, напрм backround-color */
	opacity: 0.75; 
	/*переход свойств можно сделать плавным:
	сво-во для кот нужно, время, линейность */
	transition: opacity 0.1s linear; 
}
	/*Первый .nav_link из .nav */
	.nav_link:first-child {
		margin-left: 0;
	}
	/* срабатывает после наведения курсора */
	.nav_link:hover {
		opacity: 1;
	}

/*================Intro============== */

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 750px;
	/*картинка на задний фон. / cover растягивает ее. 
	задается фон похожим цветом если плохая скорость */
	background: #31344e url("../img/intro.jpg") center no-repeat;
	background-size: cover;
}

.intro_inner {
	width: 100%;
	max-width: 970px;
	margin: 0 auto;
	text-align: center;
}

.intro_title {
	margin: 0 0 30px;
	font-family: "Open Sans", sans-serif;
	font-size: 65px;
	line-height: 1.1;
	color: #fff;
	/*хотя для <h1> и т.п. шрифт по умолч bold
	вес лучше прописать на всякий случай */
	font-weight: 700;
	text-transform: uppercase;
}

.intro_subtitle {
	margin-bottom: 60px;
	font-size: 22px;
	color: #fff;
	line-height: 1.5;
	font-weight: 400;

}/*==============Button============= */

.btn {
	/*можно будет создавать паддинги и т.п. */
	display: inline-block;
	vertical-align: top;
	/*размер кнопки делается паддингами */
	padding: 14px 40px;
	border-radius: 2px;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	transition: background 0.1s linear;
/*это все прописывается на случай если сменить
тэг <a> на <button>, чтобы кнопки не отличались */
	border: 0;
	cursor: pointer;
	font-family: "Raleway", sans-serif;
}
/*.btn--red это модификатор */
.btn--red {
	background-color: #e84545;
}
	.btn--red:hover {
		background-color: #dd3434;
	}

.btn--long {
	min-width: 280px;
}

/*===============Features============= */

.features {
	display: flex;
	flex-wrap: wrap;
	margin: 95px 0;
}

.features_item {
	width: 33.33333%;
	padding: 0 40px;
	margin: 25px 0;
	text-align: center;
}

.features_icon {
	margin-bottom: 25px;
}

.features_title {
	font-size: 14px;
	color: #2d3033;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.features_text {
	font-size: 14px;
	color: #6c7279;
	line-height: 1.5;
	
}

/*=================Works==============*/

.works {
	display: flex;
	flex-wrap: wrap;
}

.works_item {
	width: 25%;
	height: 350px;
	
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;

	position: relative;/*т.к. этот блок
relative а след absolute то след будет
позиционироваться абсолютно относительно 
этого блока */

	overflow: hidden; /*содержимое кот 
не помещается в этот блок - скрывается */
}
	/*когда наводим на .works_item то 
	появляется .works_content на передний план*/
	.works_item:hover .works_content {
		opacity: 1;
	}

.works_photo {
	position: absolute;
	/*выравнивание по центру блока .works_item*/
	top: 50%;
	left: 50%;
	z-index: 1;
	transform: translate3d(-50%, -50%, 0);

	min-width: 100%; /* если фотка меньше чем 
	ширина блока .works_item то она все-равно
	расстянется*/
}

.works_content {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: center; /*по вертикали*/
	text-align: center; /*по горизонтали */

	background-color: rgba(232, 69, 69, .9);
	opacity: 0;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;

	transition: opacity .2s linear;

}

.works_title {
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.works_text {
	font-size: 14px;
	color: #fff;
}

/*==========Team========== */

.team {
	margin: 100px 0 70px; /*т.к. у .team_item
	30px то в сумме отступ получается 100px */
}

.team_inner {
	display: flex;
	flex-wrap: wrap;
	
/* из-за padding 15px in .team_item наша картинка
ушла от границы контейнера на эти 15 вправо,
поэтому зададим отрицательный margin -15px, а
для .container добавим padding 15px и увеличим саму
сетку на 30px */
	margin: 0 -15px;
}

.team_item {
	width: 25%;
	padding: 0 15px;
	margin-bottom: 30px; /*сделан для того, если
добавится новый .team_item он перейдет вниз и будет 
для него отступ, и так же при адаптации экрана */
}

	.team_photo {
/* заполняет полностью по ширине .team_item
   делает картинку адаптивной, т.е. ее размер
    то увелич, то уменьшается: */
		display: block;
		max-width: 100%;
		height: auto;

		margin-bottom: 20px;
	}
	.team_name {
		margin-bottom: 8px;

		font-size: 22px;
		color: #2d3033;
	}
	.team_prof {
		margin-bottom: 15px;

		font-size: 13px;
		text-transform: uppercase;
		color:  #e84545;
	}
	.team_text {
		margin-bottom: 20px;

		font-size: 14px;
		line-height: 1.5;
		color: #6c7279;
	}

/*=======Social==========*/

.social {
	display: flex;
}

.social--footer {
	justify-content: center;
}

.social_item {
/* Центрируем иконку по центру .social_item */
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 4px;

	width: 40px;
	height: 40px;
	border: 1px solid #e8ecee;

	background-color: #fff;

	transition: background 0.1s linear;
}
	/*При наводе курсора на этот элемент
	будет меняться фон этого элемента */
	.social_item:hover {
		background-color: #e8ecee;
	} 

	/*При наводе на элемент social_item
	будет меняться элемент social_icon */
	.social_item:hover .social_icon {
		fill: #000;
	}

/*родитель - потомок для классов прописывается так же*/
.social--footer .social_item {
	background-color: transparent;
	border-width: 2px;
	border-color: #fff;
	border-radius: 2px;
}

.social--footer .social_item:hover {
	background-color: #fff;
}


.social_icon {
	display: block;
	height: 18px;

	fill: #c6cacc; /*меняет заливку SVG*/

	transition: fill .1s linear;
}

.social--footer .social_icon {
	fill: #fff;
}
/*============Testimonials=============*/

.reviews {
	overflow: hidden;
	background-color: #53354a;
}

.reviews_slider {
	height: 500px;
	overflow: hidden;
}

.reviews_slider.slick-initialized {
	height: auto;
}


.reviews_item {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}

.reviews_photo {
	width: 50%; /*делит .reviews_item пополам с
	 .reviews_content  */
	height: 500px; /*высоту блока как высоту картинки */
	position: relative; 
}
.reviews_img {
	position: absolute;
	top: 50%; /*можно 0 для картинки высотой 500px
	но если фото будет больше чем 500, то пропишем так
	и картинка будет отцентрирована*/
	right: 0;
	z-index: 1;

	transform: translateY(-50%);
}

.reviews_content {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 50%;
	padding-left: 80px;
}

.reviews_text {
	margin-bottom: 25px;

	font-family: 'Cardo', sans-serif;
	font-style: italic;
	font-size: 36px;
	line-height: 1.2;
	color: #fff;
}

.reviews_author {
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
}

.slick-dots {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0 0 10px;
	list-style: none;
	width: 50%;

	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
}

.slick-dots li {
	margin: 0 5px;
}

.slick-dots button {
	width: 15px;
	height: 15px;
	padding: 0;

	background: #fff;
	border-radius: 50%;
	border: 0;
	opacity: .5;
	cursor: pointer;

	font-size: 0;
	color: transparent;
}

.slick-dots button:focus {
	outline: 0;
}

.slick-dots .slick-active button {
	opacity: 1;
}

/*=============Download==========*/

.download {
	margin: 90px 0;

	text-align: center;
}


.download_title {
	margin-bottom: 10px;

	font-size: 28px;
	color: #2d3033;
	font-weight: 300; /*for style "light"*/
}

.download_text {
	margin-bottom: 30px;

	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	color: #2d3033;
}

/*=============Footer==========*/

.footer {
	background-color: #3a3e64
}
.footer_inner {
	display: flex;
	flex-wrap: wrap;

	padding: 70px 0;
}

.footer_block {
	text-align: center;

	width: 33.33333%;
}

.footer_title {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;

	margin-bottom: 20px;
}

.footer_adress {
	font-size: 14px;
	line-height: 1.5;
	color: rgba(255, 255, 255, .5);
	font-style: normal;
}

.footer_text {
	font-size: 14px;
	line-height: 1.5;
	color: rgba(255, 255, 255, .5);
	font-style: normal;
}

/*=============Copyright==========*/

.copyright {
	background-color: #313454;

	padding: 20px 0;
}

.copyright_text {
	text-align: center;
	font-size: 14px;
	line-height: 1.5;
	color: #808080;
}

.copyright_text span {
	color: #fff;
}

/*=============Burger==========*/

.burger {
	display: none;
	padding: 9px 2px;
/*у <button> убираем фон и т.п.*/
	background: none;
	border: 0;
	cursor: pointer;
}

.burger_item {
	/*главная полоска (средняя)*/
	display: block;
	width: 28px;
	height: 3px;

	background-color: #fff;

	/*чтобы слово Menu не видно было*/
	font-size: 0;
	color: transparent;

	position: relative;
}

.burger_item:before,
.burger_item:after {
	content: ""; /*в кавычках указывается
	то, что будет после или перед*/
	height: 100%;

	background-color: #fff;

	position: absolute;
	right: 0;
	z-index: 1;
}

.burger_item:before {
	width: 30px;
	top: -8px;
}
.burger_item:after {
	width: 26px;
	bottom: -8px;
}

/*=============Media==========*/

/*Медиазапросы пишутся снизу, потомучто
CSS читает сверху вниз, т.е. приоритет
у нижнего как бы. Так же можно писать
медиазапрос после соответствующего блока сразу.*/

/*Медиазапрос будет срабатывать когда ширина
   экрана 1300px и меньше*/

@media (max-width: 1300px) {
	
	/*===Works===*/
	.works_item {
		width: 50%;
	}
}

/*Медиазапрос будет срабатывать когда ширина
   экрана 991px и меньше*/

@media (max-width: 991px) {
	
	/*===Nav===*/
	.nav {
		display: none;
		flex-direction: column;

		width: 100%;
		text-align: right;
		background-color: #31344e;

		position: absolute;
		top: 100%;
		right: 0;
	}

	.nav.show {
		display: flex;
	}

	.nav_link {
		padding: 9px 15px;

	}

	/*===Burger===*/
	.burger {
		display: block;
	}

	/*===Intro===*/
	.intro_title{
		font-size: 40px;
	}

	/*===Features===*/
	.features_item {
		width: 50%;

	}

	/*===Team===*/
	.team_item {
		width: 50%;

		text-align: center;
	}
	.team_photo {
		/*фото по центру .team_item*/
		margin-left: auto;
		margin-right: auto;
	}

	/*===Social===*/
	.social {
		justify-content: center;
	}

	/*===Reviews===*/
	.reviews_photo {
		width: 100%;
		margin: 15px 0 40px;
		overflow: hidden;
	}

	.reviews_content {
		width: 100%;
		padding-left: 0;
		padding-bottom: 40px;
	}
}

/*Медиазапрос будет срабатывать когда ширина
   экрана 767px и меньше*/

@media (max-width: 767px) {
	
	/*===Intro===*/
	.intro {
		height: auto; /*высота делается авто, а 
		не фикс, чтобы блок мог увеличиваться
		по высоте */

		padding-top: 130px;
		padding-bottom: 30px; /*для красоты при
		адаптации*/
	}

	.intro_title {
		font-size: 30px;
	}

	.intro_subtitle {
		margin-bottom: 30px;

		font-size: 16px;
	}

	/*===Features===*/
	.features {
		margin: 40px 0;
	}
	.features_item {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	 /*===Works===*/
	 .works_item {
	 	width: 100%;
	 	height: 300px;
	 }

	 /*===Team===*/
	 .team {
	 	margin: 60px 0 30px;
	 }

	 .team_item {
	 	width: 100%;
	 }

	 /*===Reviews===*/
	 .reviews_text {
	 	font-size: 25px;
	 }

	 /*===Btn===*/
	 .btn--long {
	 	min-width: 260px;
	 }

	 /*===Download===*/
	 .download {
	 	margin: 50px 0;
	 }

	 .download_title {
	 	font-size: 24px;
	 }

	 /*===Footer===*/
	 .footer_inner {
	 	padding: 30px 0;
	 }

	 .footer_block {
	 	width: 100%;
	 	padding-left: 0;
	 	padding-right: 0;
	 	margin-bottom: 30px;
	 }

/*последний .footer_block из .footer_inner*/
	 .footer_block:last-child {
	 	margin-bottom: 0;
	 } 

}

/*Медиазапрос будет срабатывать когда ширина
   экрана 414px и меньше*/

   @media (max-width: 414px) {
   	
   	/*===Reviews===*/
	.reviews_img {
		right: -100px;
	}
   }

   



